<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndroidEasingFunctions" version="1.0.2.0" targetFramework="MonoAndroid60" />
  <package id="AutoFitTextView" version="0.2.1.0" targetFramework="MonoAndroid60" />
  <package id="Engine.IO.Client" version="0.7.0.1" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl" version="1.1.8" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="MonoAndroid60" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="MonoAndroid60" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="MonoAndroid60" />
  <package id="Socket.IO.Client" version="0.7.0.1" targetFramework="MonoAndroid60" />
  <package id="sqlite-net-pcl" version="1.1.1" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="MonoAndroid60" />
  <package id="Square.OkHttp3" version="3.1.2.0" targetFramework="MonoAndroid60" />
  <package id="Square.OkHttp3.WS" version="3.1.2.0" targetFramework="MonoAndroid60" />
  <package id="Square.OkIO" version="1.6.0.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Insights" version="1.12.3" targetFramework="MonoAndroid60" />
</packages>