<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AndroidEasingFunctions" version="1.0.2.0" targetFramework="MonoAndroid60" />
  <package id="AutoFitTextView" version="0.2.1.0" targetFramework="MonoAndroid60" />
  <package id="NineOldAndroids" version="2.4.0" targetFramework="MonoAndroid60" />
  <package id="sqlite-net-pcl" version="1.1.1" targetFramework="MonoAndroid60" />
  <package id="SQLitePCL.raw" version="0.8.6" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.1.1.0" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Insights" version="1.11.4" targetFramework="MonoAndroid60" />
</packages>